@font-face {
    font-family: "Noto";
    src: url("/fonts/NotoSans-Bold.ttf") format("ttf"),
    src: url("/fonts/NotoSans-BoldItalic.ttf") format("ttf"),
    src: url("/fonts/NotoSansCJKtc-Bold.ttf") format("ttf"),
    src: url("/fonts/NotoSansCJKtc-Regular.ttf") format("ttf"),
    src: url("/fonts/NotoSans-Italic.ttf") format("ttf"),
    src: url("/fonts/NotoSans-Regular.ttf") format("ttf"),     
  }

